<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
                <appendLineSeparator>true</appendLineSeparator>
            </layout>
        </encoder>
    </appender>
    <!--
    만약 fluentd 와 같은 솔루션으로 file 에서 발생하는 로그를 사용할 때에는 logback.mdc 라이브러리로 trace 관련 정보까지 출력해야한다.
    현재 프로젝트처럼 (LogAppender + micrometer-tracing-bridge-otel) 를 직접 사용할 경우에는 사용할 필요없음
    -->
    <!--<appender name="OpenTelemetry" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="Console"/>
    </appender>-->
    <!--io.micrometer:micrometer-tracing-bridge-otel 에서 trace 정보를 같이 넘겨줌-->
    <appender name="OpenTelemetry" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
    </appender>
    <!-- LOG INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="OpenTelemetry"/>
    </root>
</configuration>
